.detail-page {
  //padding-bottom: 120rpx;
  background: #f7f7f7;
}

.cover {
  width: 100%;
  height: 600rpx;
  background: #f5f5f5;
}

.content {
  padding: 24rpx;
}

/* 基础信息 */
.basic-info {
  padding: 24rpx;
  background: #fff;
}

.product-info {
  padding: 24rpx;
  margin-bottom: 24px;
}

.title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 12px;
  display: block;
}

.meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  font-size: 36rpx;
  font-weight: 600;
}

.price {
  font-size: 30px;
  color: #e64340;
  font-weight: 500;
}

.desc {
  color: #666;
  margin-bottom: 16rpx;
}

.stock {
  font-size: 26px;
  color: #666;
}

/* 描述区（重点） */
.desc-section {
  margin-top: 20rpx;
  padding: 24rpx;
  background: #fff;
}

.desc-title {
  font-size: 30rpx;
  font-weight: 600;
  margin-bottom: 16rpx;
}

.desc-content {
  font-size: 26rpx;
  color: #555;
  line-height: 1.6;
  white-space: pre-wrap;   // 支持换行
  word-break: break-all;   // 超长文本不溢出
}

.buy-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 16rpx;
  background: #fff;
  box-shadow: 0 -4rpx 16rpx rgba(0, 0, 0, 0.08);
}

.buy-btn {
  background: #e64340;
  color: #fff;
  font-size: 32rpx;
}

.popup-mask {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 999;
}

.popup {
  width: 100%;
  background: #fff;
  border-radius: 24rpx 24rpx 0 0;
  padding: 24rpx;
}

.popup-title {
  font-size: 32rpx;
  font-weight: 600;
  text-align: center;
  margin-bottom: 24rpx;
}

.order-product {
  display: flex;
  margin-bottom: 24rpx;
}

.order-image {
  width: 160rpx;
  height: 160rpx;
  border-radius: 12rpx;
}

.order-info {
  margin-left: 16rpx;
}

.order-name {
  font-size: 28rpx;
  display: block;
}

.order-price {
  color: #e64340;
  margin: 8rpx 0;
}

.order-qty {
  color: #999;
  font-size: 24rpx;
}

.popup-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 24rpx;
}

.confirm-btn {
  background: #e64340;
  color: #fff;
}

.quantity-box {
  margin-top: 24px;
}

.stepper {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.btn {
  width: 56px;
  height: 56px;
  border-radius: 8px;
  background: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
}

.btn.disabled {
  color: #ccc;
}

.num {
  width: 80px;
  text-align: center;
  font-size: 28px;
}

.form {
  margin-top: 32px;
}

.label {
  font-size: 26px;
  margin-bottom: 16px;
  display: block;
  font-weight: 500;
}

.input {
  height: 80px;
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 0 20px;
  margin-bottom: 20px;
  font-size: 26px;
}

.input.error {
  border-color: #ff4d4f;
}

.textarea {
  width: 100%;
  min-height: 88px;
  max-height: 88px;
  line-height: 44px; // 2 行
  box-sizing: border-box;

  border: 1px solid #eee;
  border-radius: 8px;
  padding: 16px 20px;

  font-size: 26px;
}
